body {
  background-color: #FCFFE7;
  text-align: center;
  align-items: center;
}

h1, h2 {
  display: block;
}

.btn {
  height: 200px;
  width: 200px;
  margin: 25px;
  border: 10px solid;
}

.btn-green {
  background-color: green;
}

.btn-red {
  background-color: red;
}

.btn-yellow {
  background-color: yellow;
}

.btn-blue {
  background-color: blue;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.4;
}
