body {
  /* margin: 45% auto; */
  text-align: center; /* Esta propiedad funciona centrando todo lo que NO
                       tenga un width asignado. Si no, hay que arreglar el margen
                       como se puede observar con el h1 con los auto*/
  border: 0px;
  background: #e4f9f5;
  font-size: 100%; /* El texto se va a modificar de acuerdo a su parent element.
                    En este caso, se va a multiplicar en el caso del h1-tag */
}

h1 {
  margin: 50px auto;
  /* width: 10%; */
  font-family: Roboto, sans-serif; /* cssfontstack.com da fallbacks, este
                                    es el de Roboto. Font embedding */
  font-size: 5.625em;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  color: #66BFBF;
  font-weight: normal;
}

h3, a {
  font-family: 'Roboto Mono', monospace;
  color: #11999E; 
}

.top {
  left: 700px;
  top: 370px;
}

.absolute {
  position: absolute;
}
